<?xml version="1.0"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по адресу:
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MyMembershipConnString" connectionString="*****"/>
  </connectionStrings>
  <!--
    Описание изменений web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=235367.

    Следующие атрибуты можно установить с помощью тега <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <!--<system.webServer>
    <rewrite>
  <rules>
    <rule name="HTTP to HTTPS redirect" stopProcessing="true">
      <conditions>
        <add input="{HTTP_X_Forwarded_Proto}" negate="true" pattern="^https$" ignoreCase="true" />
      </conditions>
      <match url="(.*)" />
      <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
    </rule>
  </rules>
</rewrite>
  </system.webServer>-->
  <system.web>
    <customErrors mode="Off"/>
    <!--<profile defaultProvider="SqlProvider">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider"
             connectionStringName="MyMembershipConnString"
             applicationName="security" />
      </providers>
      <properties>
        <add name="FirstName"/>
        <add name="LastName"/>
      </properties>
    </profile>
    <roleManager enabled="true"
                 defaultProvider="MyMembershipProvider"
                 cacheRolesInCookie="true"
                 cookieName="MyRolesCookie"
                 cookieTimeout="30"
                 cookieSlidingExpiration="true"
                 cookieProtection="All">
     <providers>
       <add name="MyMembershipProvider" type="System.Web.Security.SqlRoleProvider"
              connectionStringName="MyMembershipConnString"
              applicationName="security"/>
     </providers>
    </roleManager>-->
    <membership defaultProvider="MyMembershipProvider">
      <providers>
        <add name="MyMembershipProvider" requiresUniqueEmail="false" connectionStringName="MyMembershipConnString" type="System.Web.Security.SqlMembershipProvider" passwordFormat="Hashed"/>
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <pages buffer="true" masterPageFile="~/VyazaninoCOM.master" enableEventValidation="false" controlRenderingCompatibilityVersion="4.0"/>
    <authentication mode="Forms">
      <forms name="COOKIE" loginUrl="Login.aspx" protection="All" defaultUrl="~/Default.aspx" timeout="300000"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  <appSettings/>
</configuration>
